@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1200px) {
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media screen and (min-width: 768px) {
  /* Add styles for larger screens here */
  .nav-link {
    font-size: 24px; /* Set the font size for desktop */
  }
  .nav-logo {
    display: none; /* Hide the icon for desktop */
  }
  .mobile-nav {
    display: none; /* Hide the icon for desktop */
  }
}

@media screen and (max-width: 767px) {
  /* Add styles for smaller screens here */
  .nav-link {
    display: none; /* Hide the text for mobile */
  }
  .nav-title {
    display: none; /* Hide the text for mobile */
  }
  .nav-logo {
    /* Display the icon for mobile */
  }
  .card-title {
    display: none;
  }
  nav {
    justify-content: center;
    @apply flex justify-center;
  }
}

/* base styles */
body {
  background: #072541;
  @apply text-white m-5;
}

main {
  @apply max-w-4xl my-12 mx-auto px-5;
}
main > h2 {
  @apply mb-4 pb-2 text-base;
}
p > a {
  @apply text-primary;
}

/* nav styles */

nav {
  @apply pb-4
    border-b-2 border-gray-200
    flex justify-between items-center gap-5 
    my-8 mx-auto 
    max-w-screen-2xl
    uppercase;
}

nav a:hover {
  @apply text-slate-400;
}

/* button styles
button {
  @apply px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
} */

/* card styles */

.card-container {
  @apply grid grid-cols-3 gap-1  my-10;
}

.card {
  @apply bg-black 
    shadow-sm 
    max-w-full
    p-0 m-0
    gap-0
    relative 
    ease-in-out;
}
